In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv("FinancialMarketData.csv")

In [4]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,EURUSDV3M Index,NaN,NaN,"Fixed Income, MM & Interbank",NaN,NaN,NaN,NaN,NaN,NaN,...,Treasury,Gold,Brent,S&P,Eurostoxx,Nasdaq,EM,Japan,2Y Ger,2Y US
1,NaN,NaN,Show/Hide data,S,H,H,H,H,H,H,...,H,H,H,H,H,H,H,H,H,H
2,676,NaN,Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Index Currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Ticker,XAU BGNL Curncy,ECSURPUS Index,BDIY Index,CRY Index,DXY Curncy,JPY Curncy,GBP Curncy,...,TY1 Comdty,GC1 Comdty,CO1 Comdty,ES1 Index,VG1 Index,NQ1 Index,LLL1 Index,TP1 Index,DU1 Comdty,TU2 Comdty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149,NaN,NaN,3/23/2021,1727.960,0.339,2271.000,184.502,92.336,108.720,1.376,...,131.922,1725.100,60.790,3899.800,3773.000,13006.250,1103.600,1958.500,112.140,110.383
1150,NaN,NaN,3/30/2021,1685.560,0.303,2103.000,184.874,93.297,110.290,1.372,...,131.188,1683.900,64.140,3947.700,3872.000,12878.250,1103.600,1978.000,112.090,110.387
1151,NaN,NaN,4/6/2021,1743.280,0.440,2092.000,185.839,92.335,109.880,1.382,...,131.688,1741.500,62.740,4064.000,3920.000,13570.000,1103.600,1955.000,112.120,110.281
1152,NaN,NaN,4/13/2021,1742.690,0.467,2140.000,188.137,91.852,109.190,1.374,...,132.078,1746.200,63.670,4132.800,3917.000,13975.750,1103.600,1961.500,112.115,110.293
1153,NaN,NaN,4/20/2021,1779.720,0.492,2432.000,193.804,91.147,108.090,1.395,...,132.547,1774.900,66.510,4127.000,3902.000,13802.750,1103.600,1927.000,112.100,110.293